

/* Main content, this helps the footer stay at the bottom of the screen! */
.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap{
  flex:1;
}

/* Navigation */
.navBar{
  background-color: #0cd894;
  padding: .75em 5% !important;
}

.navLink {
  color: #fff !important;
  text-decoration: none;
}

.navLink:hover{
  color: #00685a !important;
  text-decoration: none;
}

 /* Authentication buttons */
.authenLogin{
  background-color: yellow !important;
}

.authenLogout{
  background-color: pink !important;
}

.authenSignup{
  background-color: pink !important;
}

/* Home Elements */

.jumbotron{
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/moroccan-flower-dark.png");
  text-align: center;
  margin-bottom: 2em;
}

.revSlide{
  margin: 2em 0;
  height: auto;
  overflow:hidden;
}

.reviewCard{
  text-align: center;
  background-color: burlywood;
  padding: 1em 0;
  width: 100%;
  min-width: 800px;
  
}

.circle{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color:bisque;
}


/* rating */
input[type="radio"]{
  display:none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}


/* Footer */
footer {
  background-color: #fff;
  width: 100%;
  padding: .5em 0;
  bottom: 0;
  position: relative;
}
