/* Main content, this helps the footer stay at the bottom of the screen! */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

/* Navigation */
.navBar {
  background-color: #063044;
  padding: 0.75em 5% !important;
}

.navLink {
  color: #fff !important;
  text-decoration: none;
  padding: 0.5em 10px;
}

.navLink:hover {
  color: #ffc870 !important;
  text-decoration: none;
}

/* Authentication buttons */
.authenLogin {
  background-color: yellow !important;
}

.authenLogout {
  background-color: pink !important;
}

.authenSignup {
  background-color: pink !important;
}

/* Home Elements */

.jumbotron {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/cork-board.png");
  text-align: center;
  padding: 10em 0 !important;
}

/* Review Slider */
.revSlide {
  margin: 2em 0 0;
  width: 100%;
  margin: 0 auto;
}
.carousel-root,
.carousel-slider,
.slider-wrapper,
.slide {
  background-color: rgb(223, 223, 223) !important;
}

.reviewCard {
  text-align: center;
  background-color: rgb(223, 223, 223);
  padding: 1em 0;
}

.reviewCard button {
  height: 100%;
  bottom: 0;
}

.setStar {
  color: #ffc107;
}

/* Review Card */
.circle {
  width: 10% !important;
  border-radius: 50%;
  background-color: bisque;
}

/* Profile */

/* Footer */
footer {
  background-color: #fff;
  width: 100%;
  padding: 0.5em 0;
  bottom: 0;
  position: relative;
}

/* 
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .revSlide {
    width: 80%;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .revSlide {
    width: 60%;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .revSlide {
    width: 50%;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
