/* Navigation */
.navBar{
  background-color: #063044;
  padding: .75em 5% !important;
}

.navBar h1 {
  color: #fff;
}

.navLink {
  color: #fff !important;
  text-decoration: none;
  padding: .5em 10px;
}

.navLink:hover{
  color: #ffc870 !important;
  text-decoration: none;
}

 /* Authentication buttons */
.authenLogin{
  background-color: #246476 !important;
  color:#fff !important;
  font-weight: 600!important;
}

.authenLogout{
  background-color: #E9BF49 !important;
  color:#333333 !important;
  font-weight: 600 !important;
}

.authenSignup{
  background-color: #246476 !important;
  color:#fff !important;
  font-weight: 600 !important;
}

.search{
  border:none;
  border-radius: 5px;
  padding: 5px 10px;
}


/* Home Elements */
.jumbotron{
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/cork-board.png');
  text-align: center;
  padding: 10em 0 !important;
}

/* Profile Page */
.userInfo{
  padding: 4em 0 0;
  background-color:#063044;
}

.profileCard{
  border-radius: 5px;
  padding: 2em 30px;
  background-color: #fff;
}

.profile{
  padding: 1em;
}

.profCircle{
  width: 200px;
  border-radius: 50%;
}

.edit, .edit:hover{
  color: #8baec0;
  text-decoration: none;
}

/* Profile Edit */
.proEdit{
  background-color: #063044;
  height: 100%;
  min-height: 100vh;
}

.edit-form{
  width: 80%;
}

.edit-form h2, .edit-form h6{
  color: rgb(241, 241, 241);
}

.form-label, label{
  color: rgb(241, 241, 241);
}

.form-control-file{
  color: rgb(241, 241, 241);
}

.edit-form .btn {
  background-color: #E9BF49;
  color:#333333;
  font-weight: 600;
}


/* Skills Input */
.skill-input input {
    flex: 1;
    width:300px;
    border: none;
    border-radius: 5px;
		height: 3em;
		font-size: 14px;
    padding: 10px;
    margin: .5em 0 0;
    }
    
.skill-input, input:focus{
  outline: transparent;
}

.skill-input #skill {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.skill-input .skill {
	width: auto;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 0 8px;
	font-size: 14px;
	list-style: none;
	border-radius: 6px;
	margin: 0 8px 0 0;
	background: #7CAD3E;
  }
  
.skill-input .skill-close-icon {
		display: block;
		width: 1em;
		height: 1em;
		line-height: 12px;
		text-align: center;
		font-size: 14px;
		margin-left: 8px;
		color: #246476;
		border-radius: 50%;
		background: #fff;
		cursor: pointer;
	}



/* Skill Set */
.skillSet{
  padding: 1em;
}

.skillSet span{
  background-color:#7CAD3E; 
  font-size: 14px;
  color:#fff;
  padding: .5em 10px;
  margin: .25em 5px;
  border-radius: 5px;
}


/* Review Slider */
.revSlide{
  margin: 0 auto;
  clear:both;
} 

.carousel-slider, .slider-wrapper, .slide{
  background-color: #fff !important;
  padding: .25em 0 .5em;
  border-radius: 5px;
}
.carousel.carousel-slider .control-arrow:active, 
.carousel.carousel-slider .control-arrow:hover{
  background-color:transparent !important;
}

/* left arrow */
.carousel .control-prev.control-arrow:before{
  border-right: 8px solid #E9BF49!important;
}
/* right arrow */
.carousel .control-next.control-arrow:before{
  border-left: 8px solid #E9BF49!important;
}

.setStar {
  color: #ffc107;
}

.profRev{
  background-color:#063044;
  padding:1em;
}

.profRev h4{
  color:#fff;
}

/* Review Card */
.circle{
  width: 100px !important;
  border-radius: 50%;
  background-color:bisque;
}

.reviewCard{
  text-align: center;
  background-color:none;
  padding: 1em 0;
  width:auto;
}

.reviewCard button{
  height:100%;
  bottom:0;
}

.reviewText{
  width: 60%;
}


/* rating */
input[type="radio"]{
  display:none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}


/* Browse Profiles */
.searchBar input{
  width: 50%;
  border-radius: 5px;
  margin: 0 auto !important;
  display: flex;
  border: 1px solid #8baec0;
  padding: .25em 1em;
}

.smCard, .card .btn .btn-primary,
.smCard, .card .btn .btn-primary:hover,
.smCard, .card .btn .btn-primary:active,
.smCard, .card .btn .btn-primary:focus {
  border: 0px none !important;
  background-color: transparent !important;
  border-radius: 2px;
  height: auto;
  margin: 1em auto;
  width: 33.3%;
  display: flex;
}

.smContent{
  padding: 1em !important;
  color:#063044;
}


/* Footer */
footer {
  background-color: #fff;
  width: 100%;
  padding: .5em 0;
  bottom: 0;
  position: relative;
}

footer a, footer a:hover{
  color: #E9BF49;
  text-decoration: none;
}



/* 
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  
}